/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.container {
    flex: 1;
    display: flex;
}

.pageContainer {
    flex: 1;
    background-image: url('../../static/img/yiwen-website-bg.png');
    background-size: cover;
    background-position: 50% 60%;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flyingText {
    position: absolute;
    top: 20%; /* Adjust as necessary */
    left: 50%;
    transform: translate(-50%, -50%); /* Center text on the image */
    font-family: 'Satisfy', cursive; /* Replace with your chosen font */
    background: linear-gradient(to right, #9575cd, #64b5f6);
    -webkit-background-clip: text;
    color: transparent;
    /* color: #fff; */
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5); /* Text shadow for better readability */
    font-size: 5em; /* Adjust as necessary */
    animation: float 5s ease-in-out infinite, blink 4.5s ease-in-out infinite;
}

.startButton {
    font-family: 'Satisfy', cursive; /* Replace with your chosen font */
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 6%;
    right: 20%;
    text-decoration: none;
    transition: transform 0.3s, background-color 0.3s;
    animation: blink 4.5s ease-in-out infinite;
    font-size: 40px;
    color: #fff;
}

svg .icon {
    fill: white;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.startButton:hover {
    transform: translateY(-5px);
    animation: none;
    text-decoration: none;
    color: #007bff;
}

.startButton:hover svg .icon {
    fill: #007bff; /* 鼠标悬停时的颜色 */
}

.startButton:active {
    transform: scale(0.8);
}

/* Simple float animation */
@keyframes float {
    0%, 100% { transform: translate(-50%, -50%) translateY(0); }
    50% { transform: translate(-50%, -50%) translateY(-20px); }
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

@media screen and (max-width: 768px) {
    .pageContainer {
        padding: 1rem;
        background-position: 65% 70%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .flyingText {
        top: 15%;
        left: 40%;
        font-size: 2.5em;
    }

    .startButton {
        right: 5%;
    }
}

.pageFont {
    font-family: "alimama", fallback, sans-serif;
    font-size: 40px;
}

/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "alimama";src: url("//at.alicdn.com/wf/webfont/bE3JTM1eKC0I/TWAtWibmFQuI.woff2") format("woff2"),
    url("//at.alicdn.com/wf/webfont/bE3JTM1eKC0I/JYoxDPhTAfdW.woff") format("woff");
    font-display: swap;
}