/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  flex: 1;
  background-image: url("../../static/img/yiwen-website-bg.png");
  background-size: cover;
  background-position: 50% 60%;
  opacity: 0.9;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}